.greyc{
    background-color: rgb(200, 200, 200);
}
#span1{
    text-align:center;
    font-family:sans-serif; 
    margin-left: 40%;
}
#ele1{
    margin-left: 15%;;
    height:50px;
    width:70%;
}
.xyz{
    height:170px;
    margin:2%;

}